.about{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
    flex-direction: row;
    color:  black;
}

.about-info{
    display: flex;
    height: 100vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    padding: 0;
    margin: 0;
    font-size: 6vw;
}

.text-primary{
    color: #000080;
}

.about-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40vw;
}

.headshot {
    border-radius: 50%;
    border: 0.5vw solid #343a40;
    width: 25vw;
    height: auto;
}
