@import 'colors';

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('../fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0.5vw;
  }
  
  ::-webkit-scrollbar-track {
    background: $accent-light-gray;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $accent-coral;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $accent-coral-hover;
  }

html {
    scroll-behavior: smooth;
    user-select: none;
}

body{
    margin: 0;
    background-color: $background;
    font-family: LeagueSpartan-Bold;
}

.portfolio-section{
  padding-bottom: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
}

@media (orientation: landscape){
  .portfolio-section{
    width: calc(100% - 8vw);
    padding-left: 8vw;
  }
}

@media (orientation: portrait){
  .portfolio-section{
    width: 100%;
  }
}