@import 'colors';

@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: $background;
    font-family: LeagueSpartan;
}

.portfolio-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 6vh;
    border-bottom: 0.1vh solid $accent-gray;
}