@import 'colors';

@media (orientation: landscape){
    .grid-item{
        width: 37vw;
        height: calc(37vw * 9/16);
        border-radius: 1vw;
        font-size: 1.5vw;

        &.back{
            width: 75vw;
            height: auto;
            &.education{
                height: calc(37vw * 9/16);
            }
        }

        
        .image-box{
            max-width: 40%;
        }

        .image-back{
            width: calc(100% - 2vw);
            margin-left: 1vw;
            margin-right: 1vw;
            border-radius: 1vw;
        }

        .name-back{
            font-size: 2.5vw;
            width: 100%;
            color: $primary;
        }
        
        .title-back{
            font-size: 3vw;
            width: 100%;
            margin-bottom: .5vw;
        }

        .date-location-box{
            font-size: 2vw;
        }

        .paragraph-box{

            .paragraph-back{
                margin-top: 1vw;
                margin-bottom: 1vw;
                width: 90%;
                font-size: 2vw;
            }
        }
    }
}

@media (orientation: portrait){
    .grid-item{
        width: 80vw;
        height: calc(80vw * 9/16);
        border-radius: 3vw;

        .role-text{
            font-size: 3vh;
        }

        .title-name-box{
            font-size: 4vh;
        }

        .date-location-box{
            font-size: 3vh;
        }

        &.back{
            width: 80vw;
            height: auto;
        }

        .info-image-box{
            flex-direction: column;
        }

        .image-box{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image-back{
            margin: 5vh 0;
            width: 90%;
            border-radius: 2vw;
        }

        .paragraph-box{          
        
            .paragraph-back{
                margin: 2vh 0.5vw;
                font-size: 2vh;
            }
        }
    }
}

.grid-item{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    
    &:hover{
        transform: scale(1.03);
        cursor: pointer;
    }

    &.back{
        background: $accent-gray;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: left;
        border-radius: 0;

        &:hover {
            transform: none;
        }
    }


    .title-name-box{
        display: flex;
        padding: 1vw;
        flex-direction: column;
        width: calc(100% - 2vw);
        color: $primary;
    }
    
    .date-location-box{
        padding: 0 1vw;
        color: white;
        width: calc(100% - 2vw);
    }
    
    .paragraph-box{
        height: 100%;
        width: 100%;
        flex: 70%;
        display: grid;
        
    
        .paragraph-back{
            white-space: pre-wrap;
        }
    }

    .info-image-box{
        margin: 1vw 0 0;
        padding: 0 1vw;
        width: calc(100% - 2vw);
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: $accent-light-gray;
    }
}
