@import 'colors';

.grid-item{
    position: relative;
    text-align: center;
    width: 39.5vw;
    height: calc(39.5vw * 9/16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    font-size: 1.5vw;
    transition: 0.3s ease;
    
    &:hover{
        transform: scale(1.03);
        cursor: pointer;
    }

    &.back{
        width: 80vw;
        height: calc(39.5vw * 9/16 * 2 + 1vw);
        &.education{
            height: calc(39.5vw * 9/16);
        }
        background: $accent-light-gray;
        border-radius: 1vw;
        border-color: black;
        border-width: 0.15vw;
        border-style: solid;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: left;

        &:hover {
            transform: none;
        }
    }
}

.title-name-box{
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    display: flex;
    padding: 1vw;
    flex-direction: column;
    width: calc(100% - 2vw);
    background-color: $accent-gray;
}

.date-location-box{
    padding: 1vw;
    padding-top: 0;
    background-color: $accent-gray;
    color: white;
    width: calc(100% - 2vw);
}

.info-image-box{
    margin: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: calc(100% - 2vw);
    display: flex;
    justify-content: left;
    align-items: center;

    .image-back{
        width: calc(100% - 2vw);
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

.image-box{
    width: 50%;
}

.paragraph-box{
    height: 100%;
    flex: 70%;
    display: flex;
    flex-direction: column;

    .paragraph-back{
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 90%;
    }
}

.name-back{
    font-size: 2.5vw;
    width: 100%;
    color: $primary;
    // -webkit-text-stroke-width: 0.1vw;
    // -webkit-text-stroke-color: black;
}

.title-back{
    font-size: 3vw;
    width: 100%;
    margin-bottom: .5vw;
    color: $primary;
    // -webkit-text-stroke-width: 0.1vw;
    // -webkit-text-stroke-color: black;
}
