@import 'colors';

.title{
    font-size: 3vw;
    color: $text-color;
}

@media (orientation: landscape){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1vw;
    }
}

@media (orientation: portrait){
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

.solo-box{
    display: flex;
    justify-content: center;
    align-items: center;
}