@import 'colors';

.title{
    font-size: 3vw;
    color: $text-color;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
}

.grid-item{
    position: relative;
    text-align: center;
    width: 100%;
    height: calc(78vw/2 * 9/16);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    font-size: 1.5vw;
    transition: 0.25s ease;
    
    &:hover{
        transform: scale(1.04);
        cursor: pointer;
        // filter: blur(3px);
    }
}