@import 'colors';

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-coral;
    transition: 0.3s ease;

    &:hover {
        background-color: $accent-coral-hover;
        transform: scale(1.1);
    }

    svg {
        color: $background;
    }
}

@media (orientation: landscape){
    .link {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        height: 5vw;
        width: 5vw;
        font-size: 4vw;
        border-radius: 1vw;

    
        svg {
            font-size: 4vw;
        }
    }
}

@media (orientation: portrait){
    .link{
        margin-left: 10px;
        margin-right: 10px;
        height: 5vh;
        width: 5vh;
        border-radius: 10px;
        

        svg {
            font-size: 4vh;
        }
    }
}
