@import 'colors';

.navBar{
    background-color: $primary;
    height: 6vh;
    width: 100%;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 0vh;
    z-index: 1000;
}

.nav-title{
    margin-left: 2vw;
    pointer-events: none;
}

.navBar-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navBar-list-item{
    margin-right: 2vw;
    transition: 0.3s ease;

    &:hover{
        transform: scale(1.2);
    }
}

a{
    text-decoration: none;
}

.nav-text{
    font-size: 2.4vh;
    color: $background;
    transition: 0.3s ease;

    &:hover{
        color: $accent-gray;
    }
}